<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CustomConfiguration</key>
	<dict>
		<key>AppID</key>
		<string>$(APP_ID)</string>
		<key>AppPrivacyPolicyURL</key>
		<string>$(APP_PRIVACY_POLICY_URL)</string>
		<key>AppURL</key>
		<string>$(APP_URL)</string>
		<key>SupportEmail</key>
		<string>$(SUPPORT_EMAIL)</string>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>backgorund</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
</dict>
</plist>
